*{margin: 0;
padding: 0;
}
.two-split{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.notes{
    background-color: white;
    height: 60%;
    max-height: 80%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: left;
    overflow: scroll;
}
.notes h4{
    color: indigo;
}